[submodule "projects/engx/engx-responsive-table"]
	path = projects/engx/engx-responsive-table
	url = https://github.com/EngFelix/engx-responsive-table.git
[submodule "projects/engx/engx-responsive-table-test"]
	path = projects/engx/engx-responsive-table-test
	url = https://github.com/EngFelix/engx-responsive-table-test.git
